.bx-viewport {
    padding: 0;
    margin: 0;
}

.bx-wrapper .bx-viewport {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn-slider {
    margin-bottom: 10px;
    background-color: white;
    color: #2b2b2b;
    padding: 10px;
    border: 1px #009bd9 solid;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    border-radius: 2px;
}

.stock-info {
    padding-left: 20px;
}

.stock-info a,a:focus,a:hover{
    color:#009bd9
}

.slider-item-go-details {
    margin-top: 20px;
    margin-bottom: 20px;
}

.slider-control-group {
    text-wrap: none;
    width: 100%;
}

@media (min-width: 992px) {
    .slider-control-group {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 41.666%;
    }
}

.bxslider-next-control, .bxslider-prev-control {
    padding: 0 0 0 4px;
    display: inline-block;
}
.bxslider-next-control>div, .bxslider-prev-control>div{
    position: relative;
}

div.bx-control-cover {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    opacity: 0.5;
    background-color: #2aabd2;
    text-align: center;
}

.bxslider-next-control:hover div.bx-control-cover, .bxslider-prev-control:hover div.bx-control-cover {
    opacity: 0;
    -webkit-transition: 800ms linear;
    -moz-transition: 800ms linear;
    -o-transition: 800ms linear;
    -ms-transition: 800ms linear;
    transition: 800ms linear;
}

.bxslider-next-control:not(hover) div.bx-control-cover, .bxslider-prev-control:not(hover) div.bx-control-cover {
    opacity: 0.5;
    -webkit-transition: 800ms linear;
    -moz-transition: 800ms linear;
    -o-transition: 800ms linear;
    -ms-transition: 800ms linear;
    transition: 800ms linear;
}

img.bx-control-cover {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    opacity: 0.9;

}