/* стили для меню с выпадающими списками*/

#header-menu-block div.navbar {
    border: 0;
    margin: 0;
    text-align: center;
}

#header-menu-block div.navbar > div {
    vertical-align: bottom;
    display: inline-block;
}

#header-menu-block div.navbar-header {
    display: inline-block;
}

#menu-c ul.visible-xs {
    list-style-type: none;
    padding: 0;
}

#header-menu-block {
    background-color: white;
}

#header-menu-block:hover {
    background-color: #009bd9;
    -webkit-transition: 800ms linear;
    -moz-transition: 800ms linear;
    -o-transition: 800ms linear;
    -ms-transition: 800ms linear;
    transition: 800ms linear;
}

#header-menu-block:not(hover) {
    background-color: white;
    -webkit-transition: 800ms linear;
    -moz-transition: 800ms linear;
    -o-transition: 800ms linear;
    -ms-transition: 800ms linear;
    transition: 800ms linear;
}

#header-menu-block ul {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: none;
    background-color: transparent;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

#header-menu-block:hover ul.dropdown-menu {
    background-color: #009bd9;
    -webkit-transition: 800ms linear;
    -moz-transition: 800ms linear;
    -o-transition: 800ms linear;
    -ms-transition: 800ms linear;
    transition: 800ms linear;
}

#header-menu-block:not(hover) ul.dropdown-menu {
    background-color: #009bd9;
    -webkit-transition: 800ms linear;
    -moz-transition: 800ms linear;
    -o-transition: 800ms linear;
    -ms-transition: 800ms linear;
    transition: 800ms linear;
}

#header-menu-block ul li a {
    color: #009bd9;
}

#header-menu-block:hover ul li a {
    color: white;
    -webkit-transition: 800ms linear;
    -moz-transition: 800ms linear;
    -o-transition: 800ms linear;
    -ms-transition: 800ms linear;
    transition: 800ms linear;
}

.nav > li > a:focus, .nav > li > a:hover {
    background-color: transparent;
}

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    background-color: #1e78d6;
    -webkit-transition: 800ms linear;
    -moz-transition: 800ms linear;
    -o-transition: 800ms linear;
    -ms-transition: 800ms linear;
    transition: 800ms linear;
}

.dropdown-toggle ul.dropdown-menu {
    display: block;
    visibility: hidden;
    opacity: 0;
    background-color: #009bd9;
}

.dropdown-toggle:hover ul.dropdown-menu {
    visibility: visible;
    opacity: 1;
    -webkit-transition: 800ms linear;
    -moz-transition: 800ms linear;
    -o-transition: 800ms linear;
    -ms-transition: 800ms linear;
    transition: 800ms linear;
}

/* стили для блока покупателей, магазины*/

.content-container {
    background-color: #009bd9;
    color: white;
    padding-bottom: 50px;
}

.content-container h1 {
    font-size: 26px;
}

@media (min-width: 450px) {
    .content-container h1 {
        font-size: 36px;
    }
}

.collapsed-block {
    background-color: #009bd9;
    color: white;
    visibility: hidden;
    position: absolute;
    left: 0;
    bottom: 0;
    max-height: 100%;
    width: 100%;
    height: 0;
}

.close-icon {
    visibility: hidden;
    padding: 2px;
    background-color: transparent;
    position: absolute;
    right: -1em;
    top: -1em;
}

.scrollable-block {
    visibility: hidden;
    white-space: nowrap;
    overflow: auto;
}

.show-shops-control div {
    color: white;
    font-family: "Conv_ofont.ru_Uni Sans Thin Caps";
    padding-top: 5px;
    padding-bottom: 5px;
}

.show-shops-control:hover div {
    background-color: #1e78d6;
    -webkit-transition: 800ms linear;
    -moz-transition: 800ms linear;
    -o-transition: 800ms linear;
    -ms-transition: 800ms linear;
    transition: 800ms linear;
}

.show-shops-control i {
    width: 20px;
}

.sx-text-center {
    text-align: center;
}

@media (min-width: 768px) {
    .sx-text-center {
        text-align: left;
    }
}

.caption-container {
    width: 100%;
    text-align: center;
}

/* вспомогательные классы*/
.scrollable-block div>img {
    position: absolute;
    top:0;
    left: 0;
    max-height: 100%;
    width: 100%;

}

.scrollable-block div.img {
    /*480X320*/
    height: 100px;
    width: 150px;
    background-color: white;
    margin-left: 5px;
    display: inline-block;
    position: relative;
}

.position-relative {
    position: relative;
}
