#tabs {
    background-color: #009bd9;
    border: none;
    text-align: center;
}

#tabs ul {
    background-color: #009bd9;
    border: none;
    display: inline-block;
}

#tabs ul > li {
    width: 200px;;
    margin: 0;
    background-color: #f5f5f5;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -khtml-border-radius: 0;
    border-radius: 0;
    text-align: center;
    border: 0;
    padding: 0;
}

#tabs ul > li:hover a {
    color: #009bd9;
}

#tabs ul > li > a {
    width: 200px;
    display: inline-block;
    color: #2b2b2b;
}
#tabs>div{
    text-align: center;
}
.ui-tabs-active {
    background-color: white !important;
}

.ui-tabs-active a {
    color: #009bd9 !important;
}
.tab-inner p, h3{
    color: white;
}
.tab-inner{
    max-width: 1000px;
    display: inline-block;
}